<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag "websites", :media => "all" %>

</head>
<body>
  <div class="imgfull">
  <img src="https://images.pexels.com/photos/177557/pexels-photo-177557.jpeg" alt="Lamp" >
  </div>
<div class="centered">
  <br>


<h1>
  Criação de websites
 </h1>
 <br>
 <br>
 <br>

  <div class="columns">
    <div class="column ">
      <div class="box" style="width: 400px;">
       Para obter a potencialização máxima dos resultados é imprescindível criar uma presença online diferenciada .
       </div>
    </div>
    <div class="column is-narrow"">
      <div class="box" style="width: 400px;">

      Ao investir na criação de um site para empresas, você garante que ele tenha a cara do seu negócio a longo prazo.
      Todas essas vantagens significam que a criação de um site otimizado para sua empresa assegura autoridade no mundo digital.

      Com um layout totalmente inovador e moderno, fazemos uso das particularidades da sua empresa para oferecer um site que gere conversão sendo modelado de acordo com o comportamento do seu consumidor.

    </div>

    </div>

    <div class="column ">
      <div class="box " style="width: 300px;">
      <p class="title is-5">  A loja virtual é a solução ideal para você começar um negócio de lucratividade na internet. <p>

Priorizando aspetos funcionais, você pode fazer a gestão da sua loja de forma simplificada , sem precisar de nenhum profissional para administrar as partes técnicas, como adicionar ou retirar produtos, descrições , troca de banners, mudança de preço e etc. <hr>
A loja virtual é a solução ideal para você começar um negócio de lucratividade na internet.

  </div>
    </div>
  </div>



</div>
</body>

</html>
