<%= stylesheet_link_tag "suportes", :media => "all" %>


<body>

  <div class="imgfull">
  <img src="https://images.pexels.com/photos/1181354/pexels-photo-1181354.jpeg" alt="Lamp" >
  </div>

  <div class="centered">
<hr>

<div class="columns">
  <div class="column ">
    <div class="box" style="width: 200px;">
       Linux Macosx & Windows : <small> Desbloqueo de password, hd & pen drive encriptação, instalação de sistema operativo instalação de software</small>
     </div>
  </div>
  <div class="column is-narrow"">
    <div class="box" style="width: 200px;">
 Dropbox,google drive configuração de backup
  </div>

  </div>
  <div class="column is-narrow"">
    <div class="box" style="width: 150px;">
      Antivirus Malware Spam , Remoção de anuncios

  </div>

  </div>
  <div class="column is-narrow"">
    <div class="box" style="width: 200px;">

  Manutenção e instalação de impressora
  </div>
  </div>

  <div class="column ">
    <div class="box " style="width: 200px;">
 Video vigilancia dvr & nvr configuração
</div>
  </div>
</div>


</div>

</body>
