<%= stylesheet_link_tag "suportes", :media => "all" %>


<body>

  <div class="imgfull">
  <img src="https://images.pexels.com/photos/1181354/pexels-photo-1181354.jpeg" alt="Lamp" >
  </div>
  <%= 15.times do %>
  <br>
  <% end  %>
  <div class="centered">
<hr>

<p> Linux Macosx & Windows : <small> Desbloqueo de password, hd & pen drive encriptação, instalação de sistema operativo instalação de software</small> </p>
<hr>

<p> Dropbox,google drive backup files configuration </p>
  <hr>

<p> Antivirus , Malware Spam , Remoção de anuncios </p>
<hr>

<p> Email (Gmail, Outlook, Yahoo), Rede sociais (Facebook, Watsup,) configuração de conta </p>
<hr>

<p> Manutenção e instalação de impressora </p>
<hr>

<p> Smartphone Ios & Android, configuração de conta e instalação de software. </p>
<hr>

<p> Video vigilancia dvr & nvr configuração </p>

</div>
</body>
