
<body>
  <section class="section">
    <div class="container">

    	      <h1 class="title">Suporte</h1>
    	            <h2 class="subtitle">

       <div class="content" >

<hr>

Linux Macosx & Windows : <small> Desbloqueo de password, hd & pen drive encriptação, instalação de sistema operativo instalação de software</small>
<hr>

Dropbox,google drive backup files configuration
  <hr>

Antivirus , Malware Spam , Remoção de anuncios
<hr>

Email (Gmail, Outlook, Yahoo), Rede sociais (Facebook, Watsup,) configuração de conta
<hr>

Manutenção e instalação de impressora
<hr>

Smartphone Ios & Android, configuração de conta e instalação de software.
<hr>

Video vigilancia dvr & nvr configuração

        </div>




</h2>
</div>
</section>

</body>

<% 10.times do  %>
<br>

<% end %>
