<%= stylesheet_link_tag "suportes", :media => "all" %>

  <div class="container">
    <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Suporte tecnico ao cliente
      </h1>
      <br>
      <h2 class="subtitle">
        
	  Linux Macosx & Windows : Desbloqueo de password, hd & pen drive encriptação, instalação de sistema operativo instalação de software <hr>
	  Dropbox,google drive configuração de backup <hr>
	  Antivirus Malware Spam , Remoção de anuncios<hr>
	  Manutenção e instalação de impressora<hr>
	  Video vigilancia dvr & nvr configuração <hr>
	
      </h2>
    </div>
  </div>
</section>

</div>
