<div class="container">
<article class="media"  style="border-bottom: 2px grey;">
  <figure class="media-left">
 <i class="fa fa-commenting-o" aria-hidden="true"></i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
	<br>
        <strong><%= comment['by'] %> </strong> <small><%= time_ago_in_words(comment['time']) %></small> <small><%= comment.fetch('kids', []).count %></small>
        
	<br>
        <%= sanitize comment['text'] %>
      </p>
      <br>
    </div>

  </div>

</article>
<br>
</div>
