<div class="container">
<article class="media"  style="border-bottom: 2px solid lightgrey;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
	<br>
        <strong><%= comment['by'] %> </strong> <small><%= time_ago_in_words(comment['time']) %></small> <small><%= comment.fetch('kids', []).count %></small>
        
	<br>
        <%= sanitize comment['text'] %>
      </p>
      <br>
    </div>

  </div>

</article>
<br>
</div>
