
<body>
  <section class="section">
    <div class="container">

    	      <h1 class="title">Redes</h1>
    	            <h2 class="subtitle">
<br>

      <div class="content">

Configuração equipamento em casa routers & firewall
<hr>
resetar a  password do wifi,
bloqueo de websites especificos,
configuração de acesso wifi a convidados,
politica de hora de acesso a internet

        </div>






</h2>
</div>
</section>


</body>
