<%= stylesheet_link_tag "redes", :media => "all" %>


  <div class="imgfull">

  <img src="https://images.pexels.com/photos/2881232/pexels-photo-2881232.jpeg" alt="Lamp" >
  </div>
<div class="centered">
<br>


<h1>Configuração de equipamentos de rede no domicílio </h1>
<hr>
<div class="columns">
  <div class="column">
<h3><span> Reset password do wifi </span> </h3>
</div>
<div class="column">

<h3><span> Bloqueo de websites <span></h3>
</div>
<div class="column">
<h3><span>Acesso wifi a convidados<span></h3>
  </div>
<br>
<div class="column">

<h3><span>Politica de hora de acesso a internet<span></h3>
</div>

</div>




</div>
