<%= stylesheet_link_tag "redes", :media => "all" %>


  

  <div class="container">
    <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Configuração de equipamentos de rede no domicílio
      </h1>
      <br>
      <h2 class="subtitle">
        <p class="px-1">
	  Os Serviços de Administração de Redes envolvem recursos profissionais do seguinte perfil: o Administrador de Rede LAN/WANs<hr>
	  Os recursos profissionais são classificados em níveis de acordo com senioridade e experiências <hr>
	  As quantidades de alocação e dedicação dos profissionais serão determinadas pela empresa mediante prévia análise técnica das necessidades e requisitos do cliente 
	  Tipos de serviços fornecidos são : <hr>
	  Reset password do wifi <hr>
	  Bloqueo de websites <hr>
	  Acesso wifi a convidados <hr>
	  Politica de hora de acesso a internet <hr>
	</p>
      </h2>
    </div>
  </div>
</section>

</div>





