<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sistemas</title>
    <%= stylesheet_link_tag "sistemas", :media => "all" %>

  </head>
  <body>
    <div class="imgfull">

    <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg" alt="Lamp" >
    </div>
  <div class="centered">
                    <% 15.times do %>
                    <br>
                    <% end %>

          <h1>    Windows  e Linux </h1>
          <% 5.times do %>
          <br>
          <% end %>

          <figure class="image is-16by9">
      <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/aLZcyTtfLzo" frameborder="0" allowfullscreen></iframe>
        </figure>
        <% 5.times do %>
        <br>
        <% end %>
          <div class="columns">
<div class="column">
<h2> <span>  Servidores web, e-mail, cloud armazenamento pessoal </span></h2>
</div>
<h2><span>  Servidores Windows active domain, DNS, DHCP  FILE SERVICE </span> </h2>
<div class="column">
<h2> <span> Windows and Linux accesso remoto </span> </h2>
</div>
</div>


      </div>

  </body>

</html>
