
<body>
  <section class="section">
    <div class="container">

    	      <h1 class="title">Sistemas</h1>
    	            <h2 class="subtitle">
          <div class="content">
            Windows & Linux
<hr>
Instalação de

Servidores web, e-mail, cloud armazenamento pessoal

Servidores Windows active domain, DNS, DHCP  FILE SERVICE

Windows and Linux accesso remoto

          </div>
</h2>

              </div>
  </section>


<% 15.times do  %>
<br>

<% end %>

</body>
