<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sistemas</title>
    <%= stylesheet_link_tag "sistemas", :media => "all" %>
  </head>

  <div class="container">
    <section class="hero  is-light ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Administração de sistemas
      </h1>
      <br>
      <h2 class="subtitle">
        <p class="px-1">
  Fornecemos serviços  de administração de servidores Linux e Windows apresenta solução completa em sistemas de tecnologia nas áreas de Software e Hardware, com capacidade para atender as necessidades de pequenas, médias e grandes empresas, garantindo segurança e tranquilidade à sua empresa.<hr>
  A Empresa de administração de servidores Linux e Windows atua com serviços completos, prestando suporte e todo assessoramento necessário aos clientes, nos setores de administração de servidores, hospedagens de websites e gestão de helpdesk.<hr>
  Atendimento em todo país.
</p>
      </h2>
    </div>
  </div>
</section>

</div>



</html>
