<head>

<%= stylesheet_link_tag "aulas", :media => "all" %>


</head>
<body>




  <section class="section">
    <div class="container">

    	      <h1 class="title">Aulas</h1>
    	            <h2 class="subtitle">


<br>

A internet

Segurança

Redes
<hr>
Softwares Individuais
<hr>
Hardware
<hr>
Smartphone


</h2>
</div>
</section>



  <section class="hero is-info is-large">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Calendario
        </h1>
        <h2 class="subtitle">
          Fique atento ao nosso calendario de aulas !!

        </h2>

        <div id="calendar">
          Calendar
        </div>
      </div>
    </div>
  </section>
</body>
