<!--- Classes page layout the style is not proprerly solved yet so the page will not go in production -->

<head>

<%= stylesheet_link_tag "aulas", :media => "all" %>

<%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <!-- Roundom columns  with info  need to refactor --->
        <br>
              <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-narrow">
            <div class="box" style="width: 200px;">
              <p class="title is-5"> Internet</p>
              <p class="subtitle">Conheça o mundo cibernetico . </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box" style="width: 200px;">
              <p class="title is-5">Segurança</p>
              <p class="subtitle"> Aprenda a navegar sem preocupação de hacking . </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Redes</p>
              <p class="subtitle">Saiba como os equipamentos informaticos se comunicam para criar a internet .</p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box ">
              <p class="title is-5">Software</p>
              <p class="subtitle">Conheça os diversos programas utlizados no dia a dia .</p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Hardware</p>
              <p class="subtitle">Saiba como os circuitos de uma motherboard funciona </p>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <p class="title is-5">Smartphone</p>
              <p class="subtitle">Estude os conteudo para configuração</p>
            </div>
          </div>
              </div>
	      <br>
       </div>
</body>
