
      <center>

             <%= image_tag ("covid") %>
         <center>
                <img src="https://img.icons8.com/bubbles/100/000000/home.png"/>
                   <div class="is-size-1">Fique em casa </div>   
      </center>



 


        <br>
          <div class="is-size-6 is-bold" style="color: black;" >
     <div class="is-size-5 is bold" style="color: white;">
     Mundo 
      </div>
  <div class="notification">
 
       <%=  @statistics %>
          </div>
               <div class="is-size-5 is bold" style="color: white;">

           Angola
      </div>

  <div class="notification">
      <%= @angolastat %>
        </div>

    </div>
      </center>

   
  </div>
 