
<section class="hero is-medium is-info is-bold">
      <center>

                 <div class="is-size-4">Juntos contra o covid-19 </div>   
                             <img src="https://img.icons8.com/clouds/100/000000/coronavirus.png"/>
  

 


        <br>
          <div class="is-size-6 is-bold" style="color: black;" >
     <div class="is-size-5 is bold" style="color: white;">
     Mundo 
      </div>
  <div class="notification">
 
       <%=  @statistics %>
          </div>
               <div class="is-size-5 is bold" style="color: white;">

           Angola
      </div>

  <div class="notification">
      <%= @angolastat %>
        </div>

    </div>
      </center>
        <center>
                <img src="https://img.icons8.com/bubbles/100/000000/home.png"/>
                   <div class="is-size-1">Fique em casa </div>   
      </center>


  </div>
</section>
 