   <footer>

     <center>
      <h5 style="color: lightgreen; font-size: 20px;"><small> Together against the Covid-19 </small></h5>
            <img src="https://img.icons8.com/clouds/100/000000/coronavirus.png"/>


        <br>
          <small style="color: black">
        <div class="container is-fullhd">
  <div class="notification">
       <%=  @statistics %>
          </div>
      </div>
      <br>
        <div class="container is-fullhd">
  <div class="notification">
      <%= @angolastat %>
        </div>
      </div>
    </small>

   
<figure class="image is-96x96">
  <%= image_tag("avataaars.png", class: "is-rounded") %>
</figure>
    <small>  You are the
      <h1 style="color: lightgreen; font-size: 25px; "><%= @ahoy  %> </h1> 
      visitor on my page, get in contact with me  </small>
      <h2> +244 934-659-342</h2>      
      <h2 > heisler.lemos@gmail.com</h2>
      <div class="is-size-7"> Made with ruby on rails and bulma copyright Heisler Lemos &copy; 2020 </div>
          </center>
  </footer>
  