<style>
hr {
  width : 0;
margin-top: 10px;
margin-bottom: 5px

}

</style>


<footer class="footer " style="background-color:    hsl(0, 0%, 29%) ; color: white;" >

  <div class="columns">
    <div class="column">
      <center>

        <div class="is-size-2" style="color: white;"> <%= @ahoy %>    </div> <%= fa_icon("eye" , text: "Visitas" , style: "color: black;")%><hr>
        <small> ruby 3.0.0 & rails 6.0.3.2 </small>  <%= link_to fa_icon("github"), "https://github.com/heislerlemos" ,   target: "_blank"  , style: "color: black;"%> <hr>
        <small>A Comunidade Angolana de Informática  é uma entidade independente, que possui como parte da sua política de melhoria continua fornecer serviços tecnológicos ao povo Angolano</small><hr>
        <small>Copyright ® Comunidade Angolana de Informática  2020 - 2025<hr>
          <small> <%= image_tag "logo_v2.png", style: "width:100px; height:100px;"%> Todos os direitos reservados .</small>

      </center>

    </div>


  </div>
</footer>
