
<br>

<br>
<br>
<br>


<br>
<br>
<br>


<br>
<br>
<br>

<br>
<br>


<br>
<br>
<br>


<footer class="footer" >
  <div class="columns">    
    <div class="column">     
     <div class="col-sm-3">
                <h5>Começe</h5>
                <ul>
                    <li>Casa</li>
                    <li>Agenda</li>
                    <li>Informações Gerais</li>
                </ul>
            </div>
        </div>
         <div class="column">     
            <div class="col-sm-3">
                <h5>Sobre nos</h5>
                <ul>
                    <li>Informação da Compania</a></li>
                    <li>Entre em contacto</a></li>
                    <li>Avalie</a></li>
                </ul> 	
            </div>
        </div>

                 <div class="column">     
<center>
<figure class="image is-64x64">
  <%= image_tag("avataaars.png") %>
</figure>
      <div class="is-size-4"> <%= @ahoy %>  visitas na pagina 
      


        </div>
      <div class="is-size-7"> Heisler Jorge de Lemos Stlano &copy; ruby-2.7.0 2020 </div>
          </center>

        </div>
                 <div class="column">     

            <div class="col-sm-3">
                <h5>Apoio</h5>
                <ul> 
                    <li>FAQ</li>
                    <li>Help desk</li>
                    <li>Forums</li>
                </ul>
            </div>
        </div>
         <div class="column">     

    <div class="second-bar">
       <div class="container">
            <h2 class="logo"> Heisler inc </h2>
            <div class="social-icons">
                <div class="icon"><i class="fa fa-twitter"></i></div>
                  <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div class="icon"><i class="fa fa-google-plus"></i></div>
            </div>
   </div>
</div>
</div>
    


    </div>

  </div>
</footer>