<% content_for(:title, "About") %>
<%= stylesheet_link_tag "welcomes", :media => "all" %>

<html>

<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


	<title>[Heisler] </title>
</head>

<body>
<div class="container">

  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div align="center">
	<p class="title">

      Se regista ao nosso portal agora  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
    <br>
    <p class="subtitle">
      A cai resolve os seus problemas de computador, internet e esclarece duvidas de informática, antes de compra um novo equipamento  nos daremos uma nova vida a seu equipamento antigo, poupe dinheiro  entre em contacto  agora <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

      
    </p>
    <br>

    <%= link_to "Cai na nossa inovação",  subscribers_path , class: "button is-large is-fullwidth is-link" %>


    </div>
    </div>
</section>
 </div>

  <% 5.times do %>

  <br>

  <% end %>
<div class="our-partner">
    <div class="container">

  <h3> A nossa comunidade fornece diversos serviços <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
</h3>
  <hr>

  <div class="our-partner-inner">
    <div class="columns is-multiline ">

     
        
    <div class="column is-2">

      <p class="heading">Apoio técnico disponivel </p>
      <p class="title">Suporte</p>
    </div>
   
  <div class="column is-2">
    <p class="heading">Config de  LAN </p>
      <p class="title">Redes</p>
  </div>
 
  <div class="column is-2">
      <p class="heading">Aprenda connosco !</p>
      <p class="title">Aulas</p>
  </div>
  <div class="column is-2" >
      <p class="heading">Admin de sistemas </p>
      <p class="title">Sistemas</p>
  </div>
  
  <div class="column is-2">

<p class="heading">Construção de websites </p>
      <p class="title">Websites</p>

  </div>
  <div class="column is-12">
    <section class="hero is-warning">
  <div class="hero-body">
    <p class="title">
     Estamos situados em Luanda seja nosso cliente agora livre-se dos problemas de computador <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
    <p class="subtitle">
    </p>
  </div>
</section>
    </div>
  <div class="column is-12 ">
    <section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
      Liga já na nossa linha de apoio <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

    </p>
    <p class="subtitle">
      934 659 342
    </p>
  </div>
</section>
</div>
    
    </div>
    </div>
<!-- columns end here --->
    </div>

    </div>
    </div>
</body>


</html>
