<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "stories", :media => "all" %>

    <title>Noticias</title>
  </head>

  <body>




    <div class="container">

    <section class="hero is-info is-large">

      <div class="hero-body">
        <p class="title is-1 is-space" align="center">
          📰 Saiba sobre as noticia mais recentes de informática no mundo


        </p>

          </div>
    </section>

    <%= render partial: 'story', collection: @stories %>




    <br>

<nav class="pagination  is-centered" role="navigation" aria-label="pagination" >

  <ul class="pagination-list" >

    <li>
    <% if @start != 0 %>
      <%= link_to 'Previous', stories_top_path(start: @start - @per_page), class: "pagination-previous"%>
    <% else %>
      <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
    <% end %>
    </li>
    <li>
    <%= link_to 'Next', stories_top_path(start: @start + @per_page), class: 'pagination-next' %>
    </li>
  </ul>
</nav>
<br>
</div>

  </body>
</html>
