<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "stories", :media => "all" %>

    <title>Noticias</title> 
  </head>

  <body>

    <br>
    <div class="container">
      <section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Hacker News API
    </p>
    <p class="subtitle">
      Desfrute das noticias tecnologicas atuais do mundo.
    </p>
  </div>
</section>
      <br>
   
 <%= render partial: 'story', collection: @stories %>


<nav class="pagination  is-centered" role="navigation" aria-label="pagination" >

  <ul class="pagination-list" >

    <li>
    <% if @start != 0 %>
      <%= link_to 'Previous', stories_top_path(start: @start - @per_page), class: "pagination-previous"%>
    <% else %>
      <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
    <% end %>
    </li>
    <li>
    <%= link_to 'Next', stories_top_path(start: @start + @per_page), class: 'pagination-next' %>
    </li>
  </ul>
</nav>
<br>
 </div>
  </body>
</html>
