
<br>
<br>
<br>
<br>
<br>

<div class="container">
<div class="tile is-ancestor">
  <div class="tile is-parent">



    <article class="tile is-child box ">
           <p class="title">Cassoma</p>
          <p class="subtitle">Vendas</p>
          <figure class="image is-96x96">
            <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesarSidePart&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Happy&eyebrowType=Default&mouthType=Default&skinColor=Brown'/> 
          </figure>
    </article>


  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Heisler </p>     
      <p class="subtitle">Tecnico</p>
      <figure class="image is-96x96">
  <%= image_tag("avataaars.png") %>
</figure>

    </article>
  </div>



  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Paulo</p>
      <p class="subtitle">Tecnico</p>
      <figure class="image is-96x96">
        <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortRound&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=CollarSweater&clotheColor=Black&eyeType=EyeRoll&eyebrowType=UpDown&mouthType=Smile&skinColor=DarkBrown'
/>
      </figure>
      <div class="content">
   
      </div>
    </article>
  </div>


</div>



<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">

           <article class="tile is-child box">
       
                <p class="title">Sobre nos</p>
      <p class="subtitle">É uma empresa de direito Angolano, no Prestadora de serviços na area de Tecnologias de informação e comunicação, Informática Electrónica e Telecomunicações. 

Com sede na Samba, Rua....,
Visão:

Ser uma das empresas de Referência prestadora de serviços no mercado Angola, elevando a qualidade, a fiabilidade e expanção geógrafica dos nossos serviços.

</p>
       
      <p class="title">Visão</p>
      <p class="subtitle">Ser uma das empresas de Referência prestadora de serviços no mercado Angola, elevando a qualidade, a fiabilidade e expanção geógrafica dos nossos serviços</p>
      <div class="content">
          <p class="title">Missão</p>
          <p class="subtitle">Sofisticar os serviços aos clientes e tornar acessível a todos.</p>
         </article>

        </article>



      </div>

  </div>

</div>
</div>


<br>
<br>
<br>
<br>
<br>