
<br>
<br>
<br>
<br>
<br>

<div class="container">
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Ola</p>
      <p class="subtitle">Saiba a nossa Historia !</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Heisler</p>
      <p class="subtitle">Tecnico</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Paulo</p>
      <p class="subtitle">Tecnico</p>
      <div class="content">
   
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <p class="title">Cassoma</p>
          <p class="subtitle">Vendas</p>
        </article>
        <article class="tile is-child box">
          <p class="title">Publico Alvo</p>
         
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-4by3">
          	<%= image_tag("equipa.jpeg") %>
          </figure>
        </article>
      </div>
    </div>
   
  </div>

</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Localização</p>
      <p class="subtitle">With some content</p>
      <div class="content">

      </div>
    </article>
  </div>

</div>
</div>



<br>
<br>
<br>
<br>
<br>