<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 500px;  /* Testing */
        width: 50%;  /* The width is the width of the web page */
       }

       #progression {
float: right;
   bottom: 10px;
  right: 80px;
    position: sticky;
  top: 0;
       }


    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="progression">
      <img src="https://img.icons8.com/clouds/100/000000/hammer.png"/ style="float:right;" >
<progress class="progress is-warning" value="75" max="100">75%</progress>
<div class="has-text-centered is-family-primary has-text-weight-bold"> 
      Pagina em manutenção
</div>
</div>

    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy_W6tCIX6-UQw_CXqdQIgupjqdz0KQ00&callback=initMap">
    </script>
  </body>

</html>