<div class="container">
<section class="hero  is-link">
  <div class="hero-body">
    <p class="title">
     Lista dos produtos para checkout 
    </p>
    <p class="subtitle">
      Medium subtitle
    </p>
  </div>
</section>
<br>
<div align="center">
<div id="card-item">
  <br>
  <%= render 'card_item' %>

</div>
</div>
</div>
