@import "./actiontext.scss";
$footer-color: black;

@import "bulma";
@import "font-awesome";
@import "welcomes";


  #search-form {
  display: inline;
}

  .menu #active {
    border: solid black;
    border-radius: 1px;
      box-shadow: 5px 10px;

}


.wave {
    width: 100%;
    position: absolute;
    bottom: -50px;
    opacity: 1;
}

#mainheader {
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
  /** background: linear-gradient(to top, transparent, rgba(0,0,0,0.7)); */

}

#mainheader .logo {
    font-size: 28px;
    font-weight: 700px;
    float: left;
      
    
}

#mainheader .menu {
    float: right;
    margin-top: 5px;
}

#mainheader ul, li {
    display: inline-block;
}

#mainheader li   {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 0 25px;
    font-weight: 300px;
    letter-spacing: 1px;

}

#mainheader ul {
        text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 0 25px;
    font-weight: 300px;
    letter-spacing: 1px;

}

#mainheader  a {
        text-decoration: none;
    font-size: 17px;
    color: black;
    margin: 0 25px;
    font-weight: 300px;
    letter-spacing: 1px;


}

#button-landing  a {
    float: right;
    position: absolute;
}

#content {
    max-width: 40%;
    padding: 150px 80px 0;
    color: #fff;
    left: 50%;
   

}

#content h1 {
    font-size: 48px;
    color: #fff;
}




#content p a {
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
    font-color: red;
}
#content #button-landing {

    margin-bottom: 35px;

    
}


#content a {
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;

}

#content a.color1 {
    background-color: hsl(217, 71%, 53%);
}


.our-partner {
    padding: 0 80px;
    position: relative;

}

.our-partner h3 {
    font-size: 28px;
    margin-bottom: 15px;

}

.our-partner hr {
    border: none;
    height: 4px;
    width: 300px;
    background-color: orange;

}

.our-partner-inner {
    margin-top: 50px;
}

.our-partner-inner a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 0 5px 0 #cacaca;
    
}

.our-partner-inner img {
    width:100%;
}


.wrap {

    /** this is a covid image **/
    
    /** background-image:url("https://images.pexels.com/photos/5938646/pexels-photo-5938646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ; **/
    
    /** this is a africa picture to be as default**/
    background-image:url("https://images.pexels.com/photos/1046601/pexels-photo-1046601.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
    

}



header {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
}

html, body {
  height: 100%;
  margin: 0;
}



#container {
    min-height: 90%;
}


#main {
  padding-bottom: 100px;

}


#footer {
 position: relative;
 clear: both;
}



.topnav  {
    display: none;
}

.container .card {
    width: 40%;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
      
     float: left;
       width: 14%;
    height: 15%;
      
      display: block;
      margin-right: 5%;
  }

  .topnav {
      display: inline;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
     
     float: left;
       width: 14%;
    height: 15%;
      
      display: block;
      margin-right: 5%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
.topnav {
  overflow: hidden;
  background-color: transparent;
  display: block;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue;
  color: white;
}

.topnav a.active {
  background-color: lightgreen;
  color: white;
}

#mainheader {
    display: none;
}


.wrap {

    /** this is a covid image **/
    
    /** background-image:url("https://images.pexels.com/photos/5938646/pexels-photo-5938646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ; **/
    
    /** this is a africa picture to be as default**/
    background-image:url("https://images.pexels.com/photos/1046601/pexels-photo-1046601.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    overflow: hidden;
    background-blend-mode: overlay;
      background-repeat: no-repeat;
    
      
}




#content  {
    background-size: cover;
    text-align: left;
    max-width: 150%;
    float: left;

    
}

#content a {
    font-size: 15px;
    text-align: center;
}

.wave {

  /**  width: 100%;
    position: relative;
    opacity: 1;    
    bottom: -40px;**/
    display: none;
}


.container .card {
    width: 100%;
}

}


@media( max-width: 468px) {


.wave {

    display: none;
}

}
