
h1 {
  font-size: 80px;
  color:  white;
  text-shadow: 2px 2px grey;


  font-weight: bold;

}

.table{
   background-color: Transparent;
   color: white;
}


.imgfull  {
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

min-height: 100%;
min-width: 1024px;

width: 100%;
height: auto;

position: fixed;
top: 0;
left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .imgfull {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.centered {
  position: absolute;
  color: white;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);

}
