@media screen and (max-width: 667px) {
  
  

  .card {
      width: 70%;
      height: 70%;
      
  }


  
.w3-container {

    display: none;

}    

  
 
}


hr {

       border-bottom: 1px solid transparent;
    border-image: linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    -webkit-border-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    -moz-border-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    border-image-slice: 1;


    
}
