body, html {
  height: 100%;
}

.centered {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.imgfull  {
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

min-height: 100%;
min-width: 1024px;

width: 100%;
height: auto;

position: fixed;
top: 0;
left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .imgfull {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

h1 {
  display: block;
  font-size: 2em;

  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


p {
  background-color: blue;
  border-radius: 3px;
}
