<div class="container">
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      New Product
    </p>
    
  </div>
</section>
<br>
<div align="center"»
<br>
<%= render 'form', product: @product %>
<br>
<%= link_to 'Back', products_path, class: 'button' %>
</div>
</div>
